footer {
  margin: 30px auto;
  max-width: 1165px;
  padding: 1rem 1rem;
  font-size: 12.82px;
  font-family: "U8" !important;
}

.footer-top {
  display: grid;
  padding: 2rem;
  grid-template-columns: 100%;
  grid-template-columns: repeat(3, 1fr) !important;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "footer-images" "footer-top-text" "footer-top-info";
}

.footer-top-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;
  flex-wrap: nowrap;
}

.footer-text-section p {
  /* padding: 80px 16px 50px; */
  font-family: "U8" !important;
  margin-bottom: 10px;
  color: #0c1825;
  line-height: 27.2px;
  font-weight: 700;
  font-size: 12.82px;
}

.footer-top-text a {
  margin-bottom: 4px;
  color: #0c1825;
  font-size: 12.82px;
  font-weight: 500;
}

.logo-footer {
  width: 180px;
  height: 40px;
}

.footer-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#compliance-image {
  width: 150px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 10px;
  margin: 1.5rem auto;
}

.footer-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: left;
  line-height: 27.2px;
}

.footer-text-1 {
  font-weight: 500;
}

.footer-top-info {
  margin-left: 3rem;
}

.footer-top-info p {
  text-align: right;
  line-height: 27.2px;
}

.footer-bottom {
  max-width: 745px;
  margin: 0 auto;
  margin-top: 3rem;
}

.footer-bottom p {
  text-align: center;
  margin-bottom: 25px;
  padding: 0 1rem;
  line-height: 27.2px;
}

.footer-bottom a p {
  text-align: center;
  color: #083e9e;
  font-size: 12.82px;
  font-weight: 500;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1rem;
}

.social-icon-items {
  width: 24px;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  transition: margin 0.5s;
  line-height: 21px;
}

.social-icon-items:hover {
  cursor: pointer;
  margin-bottom: 10px;
}

@media only screen and (max-width: 996px) {
  .footer-images {
    display: flex;
    justify-content: left;
    justify-items: left;
    align-items: center;
  }
  #compliance-image {
    width: 150px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin: 1.5rem auto;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
  }
  .footer-top-text {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    margin-top: 2rem;
  }
  .footer-top-info {
    margin: 3rem auto;
    padding-right: 9rem;
  }
  .footer-top-info p {
    text-align: left;
  }
  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 450px) {
  .footer-top-text {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    margin-top: 2rem;
    flex-flow: wrap;
    justify-content: left;
    justify-items: left;
    gap: 4rem;
    margin-bottom: 3rem;
  }
  .footer-top-info {
    margin: 0rem auto;
    padding-right: 2rem;
  }
  .footer-bottom {
    max-width: 745px;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .footer-images {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
  }
}/*# sourceMappingURL=Footer.css.map */