@import url(//db.onlinewebfonts.com/c/7017698b5c5a2cc397cd3b0c0984d76f?family=U8);
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,$font-weight-sm;0,700;1,400;1,$font-weight-sm;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,$font-weight-sm;0,700;1,400;1,$font-weight-sm;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif !important;
}

.navbar {
  padding: 21px 0rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fefefe;
}

.shadow {
  box-shadow: 0 0 0.5rem 0rem rgba(0, 0, 0, 0.3);
}

.nav-container {
  margin: 0 auto;
  max-width: 1165px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  z-index: 2;
}

.nav-logo-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 180px;
  height: 40px;
  margin-right: 2.8rem;
}

.logo:hover {
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 45px;
}

.nav-list a {
  color: #353535;
  line-height: 27.2px;
  font-size: 16.5px;
  font-weight: 500;
}

.nav-list a:hover {
  cursor: pointer;
}

.show, .hidden {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-menu {
  visibility: visible;
}

.dropdown-menu {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  cursor: pointer;
  position: absolute;
  margin-top: 2px;
  left: -145px;
  width: 350px;
  -webkit-box-shadow: 2px -3px 20px rgba(0, 0, 0, 0.04);
  box-shadow: 2px -3px 20px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  -webkit-transition: display 0.2s;
  -moz-transition: display 0.2s;
  transition: display 0.2s;
  visibility: hidden;
}

.dropdown-menu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
}

#dropdown-menu-item1:hover {
  background-color: rgb(241, 243, 244);
  border-radius: 10px 0px 0px 0px;
}

#dropdown-menu-item2:hover {
  background-color: rgb(241, 243, 244);
  border-radius: 0px 10px 0px 0px;
}

#dropdown-menu-item3:hover {
  background-color: rgb(241, 243, 244);
  border-radius: 0px 0px 0px 10px;
}

#dropdown-menu-item4:hover {
  background-color: rgb(241, 243, 244);
  border-radius: 0px 0px 10px 0px;
}

.dropdown-menu img {
  width: 25px;
  height: 25px;
}

.dropdown-menu-item {
  padding: 1.2rem 1.2rem 1.2rem 0rem;
}

#dropdown-menu-item3 {
  padding-left: 1.2rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

#btn-primary {
  background-color: #0c1825;
  border-radius: 12px;
  color: #ffffff;
  font-size: 16.5px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  padding: 16px 22px;
  -webkit-transition: background-color 0.8s;
  -moz-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#btn-primary:hover {
  background-color: #0d60d8 !important;
}

#btn-secondary {
  border-radius: 12px;
  color: #0c1825 !important;
  background-color: #ffffff;
  border: 1px solid #bbb;
  font-size: 16.5px;
  font-weight: 600;
  text-align: center;
  padding: 16px 22px;
  -webkit-transition: border 0.8s, color 0.8s;
  -moz-transition: border 0.8s, color 0.8s;
  transition: border 0.8s, color 0.8s;
}

#btn-secondary:hover {
  color: #0d60d8 !important;
  border: 1px solid #0d60d8;
}

.toggle-nav-container {
  display: none;
}

#toggle-open {
  width: 28px;
}

#toggle-close {
  width: 25px;
}

@media only screen and (max-width: 1200px) {
  .nav-container {
    padding: 0rem 2rem;
  }
}
@media only screen and (max-width: 996px) {
  .navbar {
    padding: 0rem;
  }
  .nav-container {
    margin: 0rem auto;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
  .disappear {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
    height: -100vh;
  }
  .nav-logo-list {
    padding-left: 0rem;
  }
  .nav-list {
    display: none;
  }
  .toggle-nav-container {
    display: block;
  }
  .nav-buttons {
    display: block;
  }
  .hidden {
    display: none;
  }
  .show {
    display: block;
  }
  .nav-list {
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
  }
  .show-list {
    opacity: 1;
    height: 100vh;
    display: block;
  }
  .nav-list li {
    padding: 1rem;
  }
  .button-group {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    left: 0;
    right: 0;
    margin-top: 26rem;
    padding-bottom: 3rem;
    gap: 4.2rem;
    background-color: #ffffff;
    width: 100%;
    flex: flex-wrap;
  }
  #btn-secondary {
    border-radius: 12px;
    padding: 20px 15rem;
  }
  #btn-primary {
    border-radius: 12px;
    padding: 20px 12rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 580px) {
  #btn-secondary {
    border-radius: 12px;
    padding: 20px 11.5rem;
  }
  #btn-primary {
    border-radius: 12px;
    padding: 20px 8.5rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 485px) {
  #btn-secondary {
    border-radius: 12px;
    padding: 18px 8.8rem;
  }
  #btn-primary {
    border-radius: 12px;
    padding: 18px 5.8rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 375px) {
  #btn-secondary {
    border-radius: 12px;
    padding: 18px 8rem;
  }
  #btn-primary {
    border-radius: 12px;
    padding: 18px 5rem;
    margin-top: 2rem;
  }
}
h1 {
  font-size: 65px;
  line-height: 82.42px;
  font-family: "U8" !important;
  font-weight: 700;
  color: #0c1825;
  z-index: -4;
  animation: 0.9s ease-out 0s 1 downup;
}

.hero-container {
  font-family: "DM Sans", sans-serif !important;
  display: grid;
  grid-template-columns: 1fr 40%;
  padding: 10rem 6rem 5rem 6rem;
  z-index: -4;
}

.hero-container-summary {
  padding-right: 11rem;
  place-self: center;
  place-items: center;
  place-content: centre;
}

.summary-text p {
  line-height: 27.2px;
  color: #353535;
  font-family: "DM Sans", sans-serif !important;
  padding-right: 2rem;
  animation: 1s ease-out 0s 1 downup;
}

.hero-container-summary p {
  color: #353535;
}

.button-group1 {
  margin-top: 3rem;
}

.button-group2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#btn-applestore, #btn-playstore {
  border-radius: 12px;
  color: #0c1825 !important;
  background-color: #ffffff;
  border: 1px solid rgb(214, 213, 213);
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: border 0.8s, color 0.8s;
  -moz-transition: border 0.8s, color 0.8s;
  transition: border 0.8s, color 0.8s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 12px 14px !important;
  color: #0c1825 !important;
  margin-top: 3rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-primary-hero {
  background-color: #0c1825;
  border-radius: 12px;
  color: #ffffff;
  font-size: 16.5px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  padding: 16px 22px;
  -webkit-transition: background-color 0.8s;
  -moz-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

.btn-primary-hero:hover {
  background-color: #0d60d8 !important;
}

#btn-applestore:hover {
  margin-top: 2.5rem;
  border: 1px solid #bbb;
}

#btn-playstore:hover {
  margin-top: 2.5rem;
  border: 1px solid #bbb;
}

.hero-container-aside {
  position: relative;
  width: 400px;
}

.aside-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: inherit;
}

#aside-img {
  position: absolute;
  left: -30px;
}

#aside-card1 {
  position: absolute;
  width: 215px;
  left: -32%;
  top: 170px;
}

#aside-card2 {
  position: absolute;
  width: 215px;
  transform: translate(0px, 0px);
  left: 57%;
  top: 400px;
}

#cross {
  position: absolute;
  top: 0px;
  left: -65px;
}

#dot {
  position: absolute;
  top: 350px;
  left: -45px;
}

#circle {
  position: absolute;
  top: 170px;
  right: 48px;
  animation: 0.8s ease-out 0s 1 downupmiddle;
}

@keyframes downup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes downupmiddle {
  from {
    transform: translateY(60%);
  }
  100% {
    transform: translateY(10%);
  }
}
@media only screen and (min-width: 1440px) {
  .hero-container {
    width: 1300px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1200px) {
  .hero-container {
    padding: 9rem 2rem;
  }
}
@media only screen and (max-width: 996px) {
  .hero-container {
    padding: 10rem 0rem 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
  }
  h1 {
    font-size: 56px;
    line-height: 64px;
    padding-bottom: 10px;
    font-family: "U8" !important;
  }
  .button-group2 {
    justify-content: center;
    padding-bottom: 4rem;
  }
  .hero-container-summary {
    margin: 0 auto;
    padding-right: 0rem;
    padding: 2rem 2rem 0rem 2rem;
  }
  .summary-text p {
    padding-right: 0rem;
    padding: 0rem 2rem;
  }
  .hero-container-aside {
    margin: 3rem auto;
  }
  .aside-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0rem auto;
  }
}
@media only screen and (max-width: 650px) {
  .hero-container-aside {
    width: 250px;
    margin: 3rem auto;
  }
  #aside-rect {
    width: 300px;
  }
  #aside-img {
    position: absolute;
    left: -30px;
    width: 300px;
  }
  #aside-card1 {
    position: absolute;
    width: 180px;
    left: -32%;
    top: 170px;
  }
  #aside-card2 {
    position: absolute;
    width: 180px;
    transform: translate(0px, 0px);
    left: 57%;
    top: 400px;
  }
  #cross {
    position: absolute;
    top: 0px;
    left: -65px;
  }
  #dot {
    position: absolute;
    top: 350px;
    left: -45px;
  }
  #circle {
    position: absolute;
    top: 170px;
    right: 48px;
    animation: 0.8s ease-out 0s 1 downupmiddle;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 48px;
    line-height: 54px;
    padding-bottom: 10px;
    font-family: "U8" !important;
  }
  .summary-text p {
    padding-right: 0rem;
    padding: 0rem 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .hero-container {
    width: 100%;
    padding-bottom: 0rem;
  }
  .summary-text p {
    padding-right: 0rem;
    padding: 0rem;
  }
  h1 {
    font-size: 40px;
  }
  .btn-primary-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  .button-group2 {
    flex-direction: column;
  }
  #btn-applestore {
    gap: 8px;
    margin-top: 3rem;
  }
  #btn-playstore {
    margin-top: 0rem;
    margin: 0 auto;
  }
  #btn-applestore:hover {
    margin-top: 1rem;
  }
  #btn-playstore:hover {
    margin-top: 1rem;
  }
  .hero-container-aside {
    padding-left: 1rem;
    margin-top: 0rem;
  }
  #aside-img {
    position: absolute;
    left: -20px;
    width: 280px;
  }
  #aside-card1 {
    position: absolute;
    width: 180px;
    left: -25%;
    top: 150px;
  }
  #aside-card2 {
    position: absolute;
    width: 180px;
    left: 50%;
    top: 350px;
  }
  #cross {
    position: absolute;
    top: 5px;
    left: -45px;
  }
  #dot {
    position: absolute;
    top: 350px;
    left: -35px;
  }
}/*# sourceMappingURL=Hero.css.map */