.investify-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 60px 16px 100px;
    max-width: 1165px;
    margin: 0 auto;
    padding-top: 6rem;
    gap:4rem;
}

#investify-image{
    max-width: 256px;
    margin-left: 12rem;
}

.investify-text h2{
    font-size: 51px;
    line-height: 64.1px;
    font-family: 'U8'!important;
    font-weight: 700;
    color: #0c1825;
}

.investify-text p{
    max-width: 100%;
    font-size: 15.5px;
    margin: 10px 0;
    color: #353535;
}
.investify-text{
    padding: 0 4rem;
}